<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container" layout:fragment="conteudo">
    <h1>Cadastro de Clientes</h1>
    <div th:if="${not #strings.isEmpty(msg)}" class="alert alert-success">
        <span th:text="${msg}"></span>
    </div>
    <form th:action="@{/cliente/cadastrar}" method="post" th:object="${cliente}">
        <div class="mb-3">
            <label class="form-label">NOME</label>
            <input type="text" th:field="*{nome}" class="form-control" required>
            <p th:if="${#fields.hasErrors('nome')}" class="text text-danger"
               th:errors="*{nome}"></p>
        </div>
        </div>
        <div class="mb-3">
            <label class="form-label">EMAIL</label>
            <input type="email" th:field="*{email}" class="form-control" required>
            <p th:if="${#fields.hasErrors('email')}" class="text text-danger"
               th:errors="*{email}"></p>
        </div>
        </div>
        <div class="mb-3">
            <label class="form-label">CPF</label>
            <input type="text" th:field="*{cpf}" class="form-control" required>
            <p th:if="${#fields.hasErrors('cpf')}" class="text text-danger"
               th:errors="*{cpf}"></p>
        </div>
        </div>
        <button class="btn btn-success">Cadastrar</button>
    </form>
</div>
</body>
</html>